<body>


  <div>
  <h1>   Foodgrains ,oils and Spices  </h1>


  <a [routerLink]="['/items' ]" class="btn btn-primary">Go Back</a>
  <br>

  <br>

  <div class="card-deck">
    <div class="card">
      <img src="assets/Images/rice.jpg" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rice</h5>
        <p class="card-text">Rice at Rs 50 per kg only</p>
        <input type="text"   #quan7 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 21 , quantity :quan7.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/wheat.png" height="300"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wheat</h5>
        <p class="card-text">Wheat at Rs 30 per kg</p>
        <input type="text"   #quan8 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
      <br>
            <a [routerLink]="['/cart',  {id: 22 , quantity :quan8.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/sugar.jpg" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sugar</h5>
        <p class="card-text"> Sugar at Rs 48 per kg</p>
        <input type="text"   #quan9 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 23 , quantity :quan9.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/salt.jpg" height="300"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="Mango">Salt</h5>
        <p class="card-text"> Salt at Rs 20 per kg</p>
        <input type="text"   #quan10 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 24 , quantity :quan10.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>



  <br>

  <div class="card-deck">
    <div class="card">
      <img src="assets/Images/dal.jpg" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dal</h5>
        <p class="card-text">Dal at Rs 80 per kg</p>
        <input type="text"   #quan11 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 25 , quantity :quan11.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/oils.jpg" height="300"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cooking oils</h5>
        <p class="card-text">Cooking oiol at Rs 140 per Litre</p>
        <input type="text"   #quan12 size="30"  value="" id="quan" placeholder=" Enter Quantity in lt (if ml then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 26 , quantity :quan12.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/spices.jpg" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Whole Spices for food</h5>
        <p class="card-text">Whole spices(Green Cardamom, Black Pepper, Cardamom, Cumin Seeds, Dry Red Chilli, Turmeric, Asafoetida) at Rs 300 per kg</p>
        <input type="text"   #quan13 size="30"  value="" id="quan" placeholder=" Enter Quantity in unit" (keyup)="0"> <br>
      <br>
            <a [routerLink]="['/cart',  {id: 27 , quantity :quan13.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/dryfruits.jpg" height="300"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dry Fruits</h5>
        <p class="card-text">Dry Fruits at Rs 370 for 200 grams per each dry fruit</p>
        <input type="text"   #quan14 size="30"  value="" id="quan" placeholder=" Enter Quantity in unit" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 28 , quantity :quan14.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>

  </div>


  <br>

  <div class="card-deck">
    <div class="card">
      <img src="assets/Images/poha.jpg" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Poha</h5>
        <p class="card-text">Poha at Rs 30 per kg.</p>
        <input type="text"   #quan15 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
      <br>
            <a [routerLink]="['/cart',  {id: 29 , quantity :quan15.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="assets/Images/sabudana.jpg" height="300"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sabudana</h5>
        <p class="card-text">Sabudana at 55 per kg</p>
        <input type="text"   #quan16 size="30"  value="" id="quan" placeholder=" Enter Quantity in kg (if gm then  e.g 0.5)" (keyup)="0"> <br>
        <br>
              <a [routerLink]="['/cart',  {id: 30 , quantity :quan16.value  } ]" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>

  </body>
