<body>
  <div  class="container">
    <h1 >Select your category  </h1>

  </div>


  <br>
  <br>

<div class="row">
  <div class="column">
  <div class="card">
    <img  src="assets/Images/fruits.jpg" style="width:300px ;height:200px ;"/>
    <div class="text">
      <a routerLink="/fruit" routerLinkActive="class-name">Fruits </a>
    </div>
  </div>
</div>

<div class="column">
 <div class="card">
  <img  src="assets/Images/vegetables.jpg" style="width:300px ;height:200px ;"/>
  <div class="text">
    <a routerLink="/vegetable" >Vegetables </a>
  </div>
</div>
</div>
</div>
&nbsp;
&nbsp;
<div class="row">
    <div class="column">
    <div class="card">
      <img  src="assets/Images/oil.png" style="width:300px ;height:200px ;"/>
      <div class="text1">
        <a routerLink="/oil" > Foodgrains, Oils and Spices </a>
      </div>
    </div>
  </div>

  <div class="column">
   <div class="card">
    <img  src="assets/Images/snacks.jpg" style="width:300px ;height:200px ;"/>
    <div class="text">
      <a routerLink="/snacks" > Snacks and Beverages </a>
    </div>
  </div>
  </div>
  </div>
  &nbsp;
  &nbsp;
  <div class="row">
      <div class="column">
      <div class="card">
        <img  src="assets/Images/dairy.jpg" style="width:300px ;height:200px ;"/>
        <div class="text">
          <a routerLink="/bakery" > Bakery and Dairy </a>
        </div>
      </div>
    </div>

    <div class="column">
     <div class="card">
      <img  src="assets/Images/misc.jpg" style="width:300px ;height:200px ;"/>
      <div class="text">
        <a routerLink="/misc" > Miscellaneous </a>
      </div>
    </div>
    </div>
    </div>


  <br>
  <br>

  <button routerLink="/cart" id="b2" class="btn btn-primary"> See Shopping cart </button>

  <br>
  <br>






  </body>







