h1
{

text-align: center;
text-shadow: 2px 2px 4px grey;
}
body{

  background-image: url("bac.jpg"); /* fallback */

  height: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
